.thingido {
    width: auto;
    padding: 40px 30px;
    color: white;
    background-color: #444444;
    background-position: center center;
    background-size: cover;
}
/**
 * These images should be resized to width of 1360px, then blurred and darkened
 * using this ImageMagick command:
 *     magick IN.jpg -gaussian-blur 0x8 -fill black -colorize 25% OUT.jpg
 */
#thingido-code {
    background-position-y: 50%;
    background-image: url(homepage/thingido-code.jpg);
}
#thingido-photography {
    background-position-y: 10%;
    background-image: url(homepage/thingido-photography.jpg);
}
#thingido-work {
    background-position-y: 80%;
    background-image: url(homepage/thingido-work.jpg);
}
#thingido-nerd {
    background-position-y: 20%;
    background-image: url(homepage/thingido-nerd.jpg);
}

.thingido:nth-child(2n) {
    text-align: right;
    background-color: #333333;
}
.thingido h2 {
    font-size: 48px;
    font-weight: 600;
    margin: 5px 0px;
}
.thingido p {
    /*display: none;*/
    /*font-style: italic;*/
}
.thingido a {
    color: white;
    font-weight: 600;
}

.much-smaller {
    font-size: 70%;
}
