---
---
@charset "utf-8";

body {
    box-sizing: border-box;
}

@import "minima";
@import "fontawesome/font-awesome";

// decent looking tables
.post-content table {
    border-collapse: collapse;
    margin-bottom: 15px;
}
.post-content th, .post-content td {
    padding: 5px 10px;
    text-align: left;
}
.post-content table, .post-content th, .post-content td {
    border: 1px solid $grey-color-light;
}

.tags a {
    color: inherit;
    padding: 0 2px;
}

i.social-media-fa {
    padding-right: 5px;
}
.social-media-list i.fa {
    color: #828282;
}

p.lead {
    font-size: 20px;
}
