/**
 * Site header
 */
.site-header {
  //border-top: 5px solid $grey-color-dark; //TODO: no longer needed?
  border-bottom: 1px solid $grey-color-light;
  background-color: $grey-color-darker;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;

  .wrapper {
    transform: skewX(-10deg);
  }
}

.site-title {
  @include relative-font-size(2.25);
  font-weight: 500;
  text-transform: uppercase;
  line-height: $base-line-height * $base-font-size * 3;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
  border-left: 6px solid $brand-color;
  border-right: 6px solid $brand-color;

  &,
  &:visited {
    color: $background-color;
  }
  .unskew {
    transform: skewX(10deg);
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 3;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $background-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}
